.video-call-container {
    height: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    background: #1a1a1a;
    color: white;
}

.video-call-page {
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #1a1a1a;
    color: white;
}